.container-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}

.container-main form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container-main form input {
  padding: 10px;
  border-radius: 5px;
  border: solid 1px lightgray;
}

.container-lista {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.container-lista ul {
  list-style: none;
  padding: 0;
}

.container-lista ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.buttons {
  margin-left: 10px;
  display: flex;
  gap: 10px;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.square {
  height: 500px;
  width: 500px;
  border: solid 1px lightgray;
}

.container-detalhes-usuario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
